body {
  background: url(./img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#dagger, #bag, #inn {
  width: 40px;
  position: absolute;
}

#myHero {
  height: 150px;
  position: absolute;
  bottom: 0;

}
#name {
  color: white;
}